@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;

    --boteco-wine-50: 338.2 31.4% 93.1%;
    --boteco-wine-100: 340.9 32.4% 86.7%;
    --boteco-wine-200: 341.1 31.7% 76.5%;
    --boteco-wine-300: 341.5 32.2% 66.5%;
    --boteco-wine-400: 342.3 32.1% 56.7%;
    --boteco-wine-500: 341.8 64.5% 33.1%;
    --boteco-wine-600: 342.1 64.4% 26.5%;
    --boteco-wine-700: 341.5 64.4% 19.8%;
    --boteco-wine-800: 342.3 64.7% 13.3%;
    --boteco-wine-900: 342.2 62.8% 8.4%;
    --boteco-wine-foreground: var(--boteco-neutral-50);

    --boteco-mustard-50: 36.0 48.4% 93.9%;
    --boteco-mustard-100: 32.9 50.8% 88.0%;
    --boteco-mustard-200: 34.0 49.5% 79.0%;
    --boteco-mustard-300: 34.3 50.3% 70.0%;
    --boteco-mustard-400: 33.6 50.5% 61.2%;
    --boteco-mustard-500: 33.7 74.6% 40.2%;
    --boteco-mustard-600: 33.9 74.4% 32.2%;
    --boteco-mustard-700: 33.6 74.0% 24.1%;
    --boteco-mustard-800: 33.9 75.6% 16.1%;
    --boteco-mustard-900: 33.8 76.5% 10.0%;
    --boteco-mustard-foreground: var(--boteco-brown-900);

    --boteco-beige-50: 41.5 68.4% 96.3%;
    --boteco-beige-100: 42.2 69.2% 92.4%;
    --boteco-beige-200: 42.4 71.9% 88.8%;
    --boteco-beige-300: 42.5 71.4% 84.9%;
    --boteco-beige-400: 42.4 70.8% 81.2%;
    --boteco-beige-500: 39.4 41.0% 69.4%;
    --boteco-beige-600: 36.6 27.2% 57.5%;
    --boteco-beige-700: 31.1 23.1% 45.9%;
    --boteco-beige-800: 28.2 27.0% 37.1%;
    --boteco-beige-900: 24.3 32.9% 28.0%;
    --boteco-beige-foreground: var(--boteco-brown-800);

    --boteco-brown-50: 30.0 10.0% 96.1%;
    --boteco-brown-100: 17.1 11.9% 88.4%;
    --boteco-brown-200: 23.1 10.9% 76.7%;
    --boteco-brown-300: 21.0 11.2% 65.1%;
    --boteco-brown-400: 22.2 11.3% 53.1%;
    --boteco-brown-500: 21.3 39.8% 22.2%;
    --boteco-brown-600: 21.7 40.0% 17.6%;
    --boteco-brown-700: 22.2 40.3% 13.1%;
    --boteco-brown-800: 20.0 39.1% 9.0%;
    --boteco-brown-900: 20.0 42.9% 5.5%;
    --boteco-brown-foreground: var(--boteco-beige-50);

    --boteco-neutral-50: 40.0 33.3% 98.2%;
    --boteco-neutral-100: 36.0 26.3% 96.3%;
    --boteco-neutral-200: 33.3 29.0% 93.9%;
    --boteco-neutral-300: 40.0 27.3% 91.4%;
    --boteco-neutral-400: 38.8 27.0% 87.6%;
    --boteco-neutral-500: 38.6 8.6% 68.2%;
    --boteco-neutral-600: 40.0 5.0% 52.5%;
    --boteco-neutral-700: 33.3 4.8% 37.1%;
    --boteco-neutral-800: 30.0 6.2% 25.5%;
    --boteco-neutral-900: 34.3 7.9% 17.5%;
    --boteco-neutral-foreground: var(--boteco-brown-900);

    --background: var(--boteco-beige-50);
    --foreground: var(--boteco-brown-800);

    --card: var(--boteco-beige-100);
    --card-foreground: var(--foreground);

    --popover: var(--boteco-beige-50);
    --popover-foreground: var(--boteco-brown-800);

    --primary: var(--boteco-wine-500);
    --primary-foreground: var(--boteco-wine-foreground);

    --secondary: var(--boteco-mustard-500);
    --secondary-foreground: var(--boteco-mustard-foreground);

    --muted: var(--boteco-neutral-200);
    --muted-foreground: var(--boteco-brown-700);

    --accent: var(--boteco-mustard-400);
    --accent-foreground: var(--boteco-brown-900);

    --destructive: var(--boteco-wine-600);
    --destructive-foreground: var(--boteco-neutral-50);

    --border: var(--boteco-neutral-300);
    --input: var(--boteco-neutral-300);
    --ring: var(--boteco-wine-400);

    --sidebar-background: var(--boteco-beige-100);
    --sidebar-foreground: var(--boteco-brown-700);
    --sidebar-primary: var(--boteco-wine-500);
    --sidebar-primary-foreground: var(--boteco-wine-foreground);
    --sidebar-accent: var(--boteco-mustard-200);
    --sidebar-accent-foreground: var(--boteco-brown-800);
    --sidebar-border: var(--boteco-neutral-300);
    --sidebar-ring: var(--boteco-wine-400);
  }

  .dark {
    --background: var(--boteco-brown-900);
    --foreground: var(--boteco-beige-100);

    --card: var(--boteco-brown-800);
    --card-foreground: var(--boteco-beige-100);

    --popover: var(--boteco-brown-800);
    --popover-foreground: var(--boteco-beige-100);

    --primary: var(--boteco-mustard-400);
    --primary-foreground: var(--boteco-brown-900);

    --secondary: var(--boteco-wine-500);
    --secondary-foreground: var(--boteco-neutral-50);

    --muted: var(--boteco-brown-700);
    --muted-foreground: var(--boteco-beige-400);

    --accent: var(--boteco-wine-400);
    --accent-foreground: var(--boteco-neutral-50);

    --destructive: var(--boteco-wine-700);
    --destructive-foreground: var(--boteco-neutral-50);

    --border: var(--boteco-brown-700);
    --input: var(--boteco-brown-700);
    --ring: var(--boteco-mustard-500);

    --sidebar-background: var(--boteco-brown-900);
    --sidebar-foreground: var(--boteco-beige-400);
    --sidebar-primary: var(--boteco-mustard-500);
    --sidebar-primary-foreground: var(--boteco-brown-900);
    --sidebar-accent: var(--boteco-wine-600);
    --sidebar-accent-foreground: var(--boteco-neutral-50);
    --sidebar-border: var(--boteco-brown-700);
    --sidebar-ring: var(--boteco-mustard-500);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
